/* Início Sobre section */

.history-img-container {
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
}

.history-img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--cor-botoes-cta);
    border-radius: 16px;
    box-shadow: 0px 0px 20px 5px #22c58c85;
    margin-bottom: 30px;
}

.history-text-container .text-section {
    margin-bottom: 30px;
}

.history-btn {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-titulos);
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid var(--cor-titulos);
    border-radius: 8px;
}

.history-btn:hover {
    color: var(--cor-botoes-cta-secundario);
    background-color: var(--cor-links-hover);
    border: 1px solid var(--cor-botes-cta);
    box-shadow: 0px 0px 20px 5px rgba(34, 197, 139, 0.4);
    transition: background-color 0.3s, color 0.3s;
}

/* Fim Sobre section */

/* Início Testimonials */

/* Testimonials */

.testimonial-card {
    margin-bottom: 40px;
}

.testimonial-avatar-name {
    /* container */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.testimonial-avatar {
    width: 40px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(13, 105, 139, 0.5);
    margin: 0 10px;
}

.testimonial-card-name {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-titulos);
}

/* Fim testimonials */


/* MEDIA QUERIES */

@media (min-width: 1024px) {

    /* About section */

    .about-section .text-section {
        margin-bottom: 60px;
    }

    /* History Section */

    .history-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .history-section .title-section {
        width: 100%;
        margin-bottom: 60px;
    }

    .history-img-container {
        width: 45%;
        margin: 0;
    }

    .history-text-container {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Testimonials */

    .testimonial-avatar{
        width: 60px;
    }

    .testimonial-card-name {
        font-size: 1.5rem;
    }

    .testimonial-card .text-section {
        font-size: 1.2rem;
    }
}