<!-- Início do footer -->
<div class="logo-container"><a href="/index.html"><img class="logo-img" src="/assets/images/Logo-sorriso-feliz.webp" alt="Logo"/></a></div>

<div class="fast-links-container">
  <h3 class="fast-links-title">Navegue pelo site</h3>
  <a class="fast-links-texts" href="/index.html">Início</a>
  <a class="fast-links-texts" href="/pages/tratamento.html">Tratamentos</a>
  <a class="fast-links-texts" href="/pages/sobre.html">Sobre a Clínica</a>
  <a class="fast-links-texts" href="/pages/contato.html">Contato</a>
</div>

<div class="socials-container">
  <h3 class="socials-title">Nossas redes</h3>
  <img class="footer-icon" src="/assets/icons/instagram.svg" alt="Logo instagram" />
  <img class="footer-icon" src="/assets/icons/facebook.svg" alt="Logo Facebook" />
  <img class="footer-icon" src="/assets/icons/youtube.svg" alt="Logo Youtube" />
</div>

<div class="contacts-container">
  <h3 class="contacts-title">Fale conosco</h3>
  <div class="contacts-icon-text">
    <img class="footer-icon" src="/assets/icons/map-pin.svg" alt="ícone de localização" />
    <address class="text-contact">Rua Dragão do Mar, 81 - Fortaleza - CE</address>
  </div>

  <div class="contacts-icon-text">
    <img class="footer-icon" src="/assets/icons/whatsapp.svg" alt="ícone de WhatsApp" />
    <a href="tel:+5585912345678" class="text-contact">(85) 91234-5678</a>
  </div>

  <div class="contacts-icon-text">
    <img class="footer-icon" src="/assets/icons/email.svg" alt="ícone de Email" />
    <a href="mailto:contato@sorrisofeliz.com.br" class="text-contact"
      >contato@sorrisofeliz.com.br</a
    >
  </div>
</div>
<!-- Fim do footer -->