<!-- Início do footer -->
<div class="footer-container">
  <div class="logo-container"><a href="/index.html"><img class="logo-img" src="/assets/images/Logo-sorriso-feliz.webp" alt="Logo"/></a>
  </div>
  
  <div class="fast-links-container">
    <h3 class="footer-title">Navegue pelo site</h3>
    <a class="fast-links-texts" href="/index.html">Início</a>
    <a class="fast-links-texts" href="/pages/tratamento.html">Tratamentos</a>
    <a class="fast-links-texts" href="/pages/sobre.html">Sobre a Clínica</a>
    <a class="fast-links-texts" href="/pages/contato.html">Contato</a>
  </div>
  
  <div class="socials-container">
    <h3 class="footer-title">Nossas redes</h3>
    <img class="footer-icon" src="/assets/icons/instagram.svg" alt="Logo instagram" />
    <img class="footer-icon" src="/assets/icons/facebook.svg" alt="Logo Facebook" />
    <img class="footer-icon" src="/assets/icons/youtube.svg" alt="Logo Youtube" />
  </div>
  
  <div class="contacts-container">
    <h3 class="footer-title">Fale conosco</h3>
  
    <div class="contacts-icon-text">
      <img class="footer-icon" src="/assets/icons/map-pin.svg" alt="ícone de localização" />
      <address class="contact-text"><a class="contact-link" href="https://www.google.com/maps/place/R.+Drag%C3%A3o+do+Mar,+81+-+Praia+de+Iracema,+Fortaleza+-+CE,+60060-195/data=!4m2!3m1!1s0x7c7484947f04a4b:0xfa6f5af437e1ff00?sa=X&ved=1t:242&ictx=111">Rua Dragão do Mar, 81 - Fortaleza - CE</a></address>
    </div>
  
    <div class="contacts-icon-text">
      <img class="footer-icon" src="/assets/icons/whatsapp.svg" alt="ícone de WhatsApp" />
      <a href="tel:+5585912345678" class="contact-text">(85) 91234-5678</a>
    </div>
  
    <div class="contacts-icon-text">
      <img class="footer-icon" src="/assets/icons/email.svg" alt="ícone de Email" />
      <a href="mailto:contato@sorrisofeliz.com.br" class="contact-text"
        >contato@sorrisofeliz.com.br</a
      >
    </div>
  </div>
</div>
<!-- Fim do footer -->