<!-- Início do header -->
  <a href="/index.html"><img class="logo-img" src="/assets/images/Logo-sorriso-feliz.webp" alt="Logo"/></a>

  <nav class="nav-container" id="nav-container">
    <ul class="nav-list">
      <li><a href="/index.html">Início</a></li>
      <li><a href="/pages/tratamento.html">Tratamentos</a></li>
      <li><a href="/pages/sobre.html">Sobre a Clínica</a></li>
      <li><a href="/pages/contato.html">Contato</a></li>
      <li><a href="#">Agendamento Online</a></li>
    </ul>
  </nav>

  <button class="hamburger-btn" id="hamburger-btn" aria-label="Abrir ou fechar menu">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
  </button>

<!-- Fim do header -->
