#main-footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.fast-links-container,
.socials-container,
.contacts-container {
    margin-bottom: 30px;
}

.footer-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-titulos);
    margin-bottom: 20px;
}

.footer-icon {
    width: 25px;
    margin-right: 10px;
}

.fast-links-container,
.contacts-container {
    display: flex;
    flex-direction: column;
}

.fast-links-texts,
.contact-text,
.contact-link {
    text-decoration: none;
    font-style: normal;
    color: var(--cor-titulos);
    padding-bottom: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
    transition: .3s;
}

.fast-links-texts:hover,
.contact-text:hover,
.contact-link:hover {
    color: var(--cor-links-hover);
    border-bottom: 2px solid var(--cor-links-hover);
    transition: 0.3s;
}

.contacts-icon-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}


/* MEDIA QUERIE */

@media (min-width: 768px) {

    #main-footer {
        padding: 50px 30px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .logo-container {
        width: 100%;
        text-align: center;
    }

    .fast-links-container,
    .socials-container {
        width: 30%;
        align-items: center;
    }

    .contacts-container {
        width: 100%;
        /* text-align: center; */
        align-items: center;
    }
}

@media (min-width: 1024px) {
    #main-footer {
            padding: 50px 80px;
        }
    
        .footer-container {
            display: flex;
        }
    
        .fast-links-container,
        .socials-container {
            width: 50%;
            align-items: center;
        }
    
        .footer-title {
            align-self: start;
            font-size: 1.6rem;
        }
    
        .fast-links-texts {
            font-size: 1.3rem;
            align-self: start;
        }
    
        .footer-icon {
            width: 35px;
        }
    
        .contacts-container {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .contact-text {
            font-size: 1.3rem;
        }

}