/* Hero das paginas */

.bg-blur {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bg-blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(249, 249, 249, 0.7), rgba(249, 249, 249, 0.7)), url(/assets/images/index/hero-p.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;

}

.hero-section {
    width: 100%;
    height: auto;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-title {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--cor-titulos);
}

.title-highlight {
    color: var(--cor-botoes-cta);
}

.hero-text,
.text {
    font-weight: 400;
    color: var(--cor-texto-padrao);
}

.hero-text {
    font-size: 1.1rem;
    margin-top: 40px;
}

/* Fim do hero */


/* Seções globais */

.global-section,
.cta-section {
    width: 100%;
    padding: 60px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.title-section {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--cor-titulos);
    text-transform: uppercase;
}

.text-section {
    font-size: 1.2rem;
    color: var(--cor-texto-padrao);
    font-weight: 400;
}

/* Início CTA-SECTION */

.cta-section {
    background-image: linear-gradient(var(--cor-titulos), var(--cor-botoes-cta));
}

.cta-section-title {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-botoes-cta-secundario);
    margin-bottom: 30px;
}

.cta-section-text {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--cor-botoes-cta-secundario);
    margin-bottom: 30px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {

    /* Hero */
    .hero-section {
        width: 80%;
        text-align: center;
        padding: 50px 30px;
        display: flex;
        margin: 0 auto;
    }

    /* Globais */
    .global-section,
    .cta-section {
        padding: 50px 30px;
    }

    /* CTA SECTION */
    .cta-section {
        min-height: 400px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .cta-section-text {
        width: 80%;
    }

}


@media (min-width: 1024px) {

    /* Hero */
    .hero-section {
        padding: 100px 0;
        text-align: left;
    }

    .hero-title {
        font-size: 2.5rem;
        width: 90%;
    }

    .hero-text {
        font-size: 1.5rem;
        width: 90%;
    }

    /* Sections */
    .global-section,
    .cta-section {
        padding: 100px 80px;
    }

    .title-section {
        font-size: 2.1rem;
    }

    .text-section {
        font-size: 1.5rem;
        width: 80%;
        margin-bottom: 30px;
    }

    /* CTA SECTIONS */

    .cta-section-title {
        font-size: 2.1rem;
    }

    .cta-section-text {
        font-size: 1.5rem;
    }

}