/* Base e variáveis */
@import 'base/global.css';

/* Componentes reutilizáveis */
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/sections.css';
@import 'components/buttons.css';
@import 'components/icon-card.css';
@import 'components/swiper.css';


/* Estilos específicos por páginas */

@import '/styles/pages/index.css';
@import 'pages/sobre.css';
@import 'pages/tratamentos.css';