/* Início configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");

:root {
    /* Variáveis */
    --cor-titulos: #0d698b;
    --cor-texto-padrao: #343434;
    --cor-botoes-cta: #22c58b;
    --cor-botoes-cta-secundario: #ffffff;
    --cor-links-hover: #22c58b;
    --cor-fundo: #f9f9f9;

    /* Gradientes */
    --gradiente-principal: linear-gradient(90deg,
            var(--cor-titulos),
            var(--cor-botoes-cta));

    /* Fontes */
    --fonte-principal: "Noto Sans", sans-serif;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}

/* Fim configurações globais */

/* Início configurações do header */

#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

.logo-img {
    width: 130px;
    height: auto;
}

.nav-container {
    display: none;
}

.hamburger-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    width: 25px;
    height: 3px;
    background-color: var(--cor-texto-padrao);
    margin: 4px 0;
}

.nav-container.active {
    display: block;
    /* Faz o menu aparecer */
    position: absolute;
    top: 100%;
    /* Começa exatamente onde o header termina */
    left: 0;
    width: 100%;
    background-color: var(--cor-botoes-cta-secundario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Garante que o menu fique na frente de todo o resto */
}

.nav-container.active .nav-list {
    list-style: none;
}

.nav-container .nav-list li a {
    display: block;
    /* Faz o link ocupar a linha inteira, facilitando o clique */
    padding: 15px 25px;
    color: var(--cor-titulos);
    border-bottom: 1px solid var(--cor-texto-padrao);
    /* Linha divisória */
}

/* Fim configurações do header */

/* Hero section - index*/

.hero-section {
    width: 100%;
    height: auto;
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.bg-blur {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bg-blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(249, 249, 249, 0.7), rgba(249, 249, 249, 0.7)), url(/assets/images/index/hero-p.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;

}

.hero-title {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--cor-titulos);
}

.title-highlight {
    color: var(--cor-botoes-cta);
}

.hero-text,
.text {
    font-weight: 400;
    color: var(--cor-texto-padrao);
}

.hero-text {
    font-size: 1.1rem;
    margin-top: 40px;
}

.hero-btn,
.history-btn {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-titulos);
    background-color: transparent;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid var(--cor-titulos);
    border-radius: 8px;
}

.hero-btn:hover,
.services-card-btn:hover,
.history-btn:hover {
    color: var(--cor-botoes-cta-secundario);
    background-color: var(--cor-links-hover);
    border: 1px solid var(--cor-botes-cta);
    box-shadow: 0px 0px 20px 5px rgba(34, 197, 139, 0.4);
    transition: background-color 0.3s, color 0.3s;
}

/* Fim do hero - index */

/* Início seções */

.about-section,
.services-section,
.cta-section,
.history-section,
.testimonials-section {
    width: 100%;
    padding: 60px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.title-section {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--cor-titulos);
    text-transform: uppercase;
}

.text {
    font-size: 1.2rem;
    color: var(--cor-texto-padrao);
    font-weight: 400;
}

/* Fim seções */

/* Início icon-card */

.icon-card,
.services-card {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-card-icon {
    width: 60px;
    height: auto;
    margin-bottom: 30px;
}

.icon-card-title {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--cor-botoes-cta);
    margin-bottom: 20px;
}

.services-card {
    min-height: 300px;
    padding: 30px 10px 10px 10px;
    margin: 30px 0;
    border: 1px solid var(--cor-botoes-cta);
    border-radius: 16px;
}

.services-card-btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-titulos);
    border: 1px solid var(--cor-titulos);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 30px 0;
}

/* Início CTA-SECTION */

.cta-section {
    background-image: linear-gradient(var(--cor-titulos), var(--cor-botoes-cta));
}

.cta-section-title {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-botoes-cta-secundario);
    margin-bottom: 30px;
}

.cta-section-text {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--cor-botoes-cta-secundario);
    margin-bottom: 30px;
}

.cta-section-btn {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-botoes-cta-secundario);
    border: 1px solid var(--cor-botoes-cta-secundario);
    border-radius: 8px;
    padding: 10px 20px;
}

.cta-section-btn:hover {
    color: var(--cor-titulos);
    background-color: var(--cor-botoes-cta-secundario);
    box-shadow: 0px 0px 20px 5px var(--cor-botoes-cta-secundario);
    transition: 0.3s;
}

.history-img-container {
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
}

.history-img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--cor-botoes-cta);
    border-radius: 16px;
    box-shadow: 0px 0px 20px 5px #22c58c85;
    margin-bottom: 30px;
}

.history-section .text {
    margin-bottom: 30px;
}

/* .history-btn {
     align-self: center; 
} */

/* Testimonials */

.testimonial-card {
    margin-bottom: 40px;
}

.testimonial-avatar-name {
    /* container */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.testimonial-avatar {
    width: 40px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(13, 105, 139, 0.5);
    margin: 0 10px;
}

.testimonial-card-name {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-titulos);
}

/* Carrossel - Swiper JS */

.swiper {
    max-width: 280px;
    min-height: 300px;
    --swiper-navigation-color: var(--cor-links-hover);
    --swiper-pagination-color: var(--cor-links-hover);
    --swiper-navigation-size: 0;
}

.swiper-button-next {
    color: var(--cor-links-hover);
}


/* Footer */

#main-footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
}

.logo-container {
    align-self: center;
    margin-bottom: 30px;
}

.fast-links-container,
.socials-container,
.contacts-container {
    margin-bottom: 30px;
}

.footer-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-titulos);
    margin-bottom: 20px;
}

.footer-icon {
    width: 25px;
    margin-right: 10px;
}

.fast-links-container,
.contacts-container {
    display: flex;
    flex-direction: column;
}

.fast-links-texts {
    text-decoration: none;
    color: var(--cor-texto-padrao);
    margin-bottom: 15px;
}

.fast-links-texts:hover {
    color: var(--cor-links-hover);
    transition: 0.3s;
}

.contacts-icon-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.contact-text {
    text-decoration: none;
    color: var(--cor-texto-padrao);
}

.contact-text:hover {
    color: var(--cor-links-hover);
}


/* MEDIA QUERIES */

@media (min-width: 768px) {

    /* Início Header */
    #main-header {
        padding: 30px 30px;
    }

    /* Início Hero */
    .hero-section {
        width: 80%;
        text-align: center;
        padding: 50px 30px;
        display: flex;
        margin: 0 auto;
    }

    .hero-btn-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    .hero-btn {
        width: 46%;
        font-size: 1rem;
    }

    /* Início sections */

    .about-section,
    .services-section,
    .cta-section,
    .history-section,
    .testimonials-section {
        padding: 50px 30px;
    }

    /* Card de icones */
    .icon-card,
    .services-card {
        min-height: 250px;
        max-width: 500px;
        align-self: center;
    }

    /* texto dentro dos cards de icones */

    .icon-card p,
    .services-card p {
        width: 80%;
    }

    /* CTA SECTION */
    .cta-section {
        min-height: 400px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .cta-section-text {
        width: 80%;
    }

    /* Botão History section */
    .history-btn {
        align-self: center;
        width: 40%;
    }

    /* Carrossel */
    .swiper {
        max-width: 500px;
        /* padding: 23px !important; */
        --swiper-navigation-size: 20px;
    }

    .testimonial-card {
        display: flex;
        flex-direction: column;
    }

    .testimonial-card p {
        width: 400px;
        align-self: center;
    }

    /* Footer */

    #main-footer {
        padding: 50px 30px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .logo-container {
        width: 100%;
        text-align: center;
    }

    .fast-links-container,
    .socials-container {
        width: 30%;
        align-items: center;
    }

    .contacts-container {
        width: 100%;
        /* text-align: center; */
        align-items: center;
    }
}